{% form 'contact' %}

  {% if form.posted_successfully? %}
    <div class="successForm feedback">
      Thanks for contacting us. We'll get back to you as soon as possible.
    </div>
  {% endif %}

  {% if form.errors %}
  <div class="errorForm feedback">
    <!-- {{ form.errors.size }} or {{ form.errors | size }} -->
    <p>Your contact form has {{ form.errors | size | pluralize: "an error", "a few errors" }}. To submit your form, make the following changes and try again:</p>
    {% for field in form.errors %}
      <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
    {% endfor %}
  </div>
  {% endif %}

  <div id="contactFormWrapper">
    <div class="form-group">
      <label>{{ 'contact.form.name' | t }}</label>
      <input type="text" required id="contactFormName" name="contact[name]" class="form-control">
    </div>
    <div class="form-group">
      <label>{{ 'contact.form.email' | t }}</label>
      <input type="email" required id="contactFormEmail" name="contact[email]" class="form-control">
    </div>
    <div class="form-group">
      <label>{{ 'contact.form.phone' | t }}</label>
      <input type="telephone" id="contactFormTelephone" name="contact[phone]" class="form-control">
    </div>
    <div class="form-group">
      <label>{{ 'contact.form.message' | t }}</label>
      <textarea required rows="10" id="contactFormMessage" name="contact[body]" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <input type="submit" id="contactFormSubmit" value="{{ 'contact.form.send' | t }}" />
    </div>
  </div>

  {% endform %}
