<section class="bg-primary padding" style="background-color: ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
                <h1 style="text-align: center;">Elephant in the room book series</h1>
                <p></p>
                <center>
                    <p></p>
                    <div class="wrapper">
                        <iframe width="560" height="315" src="{{section.settings.youtube_url}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </center>
                <p></p>
                <p style="text-align: center;"><strong>{{section.settings.about_taglin_1}}</strong>
                </p>
                {{section.settings.about_image | img_tag}}
                <p></p>
                <p style="text-align: center;"><strong>{{section.settings.about_taglin_2}}</strong>
                </p>
                <p style="text-align: center;">{{section.settings.about_text}}</p>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "About",
  "settings": [
    {
      "type": "text",
      "id": "about_title",
      "label": "Title",
      "default": "Elephant in the room book series"
    },
    {
      "type": "text",
      "id": "about_tagline_1",
      "label": "Tag",
      "default": "“Let’s stop tiptoeing around the obvious”…"
    },
    {
      "type": "text",
      "id": "about_tagline_2",
      "label": "Tag",
      "default": "“…by getting difficult topics out into the open”"
    },
    {
      "type": "image_picker",
      "id": "about_image",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "about_text",
      "label": "Description",
      "default": "The Elephant in the Room books are intended to help make life easier for children facing difficult experiences – whether a death in the family, the prospect of surgery or serious illness, or many of the other challenges life throws their way – by meeting these topics head-on, and talking about them in a sensitive, straightforward way."
    },
    {
      "type": "text",
      "id": "youtube_url",
      "label": "Youtube URL",
      "default": "https://www.youtube.com/watch?v=CuH3tJPiP-U"
    }
  ],
  "presets": [
    {
      "name": "About",
      "category": "About"
    }
  ]
}
{% endschema %}
