<section class="bg-primary " style="background-color: #EBE9F6">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">

                <div class="col-md-9">
                    <div class="su-column-inner su-clearfix">

                        <h1>{{section.settings.title}}</h1>
                        <!-- <p>{{block.settings.text}}</p> -->

                        <p>{{section.settings.text}}</p>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">

                      <img src='{{section.settings.image | img_url: '350x' }}'>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Custom content",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Custom content"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Custom content",
      "category": "Page"
    }
  ]
}
{% endschema %}
