{%- assign page = pages[section.settings.page] -%}

<section class="bg-primary padding" style="background-color: ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
              <h1 style="text-align: center;">{{page.title}}</h1>
              <div class="center-block">{{page.content}}</div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Featured Page",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "Page"
    }
  ],
  "presets": [
    {
      "name": "Page",
      "category": "Page"
    }
  ]
}
{% endschema %}
