<div class="page-header">
  <div class="ft-overlay">
    <div class="page-header-inside">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <div class="underline"></div>
      </div>
    </div>
  </div>
</div>
<div class="container page-inner">
  <div class="row">
    <div class="col-md-8">
      {{ page.content }}
    </div>
    <div class="col-md-4">
      {% include 'sidebar' %}
      <!-- <div class="contact-side"><h2>Get In Touch</h2><?= do_shortcode('[gravityform id="1" title="false" description="false"]');?></div>
      <?php if(is_active_sidebar('sidebar-widgets')){ dynamic_sidebar('sidebar-widgets');}?> -->

    </div>
  </div>
</div>
